<div class="container">
  <div class="task-container">
    <% for(var i=0; i< todoList.length; i++){ %>
    <div class="list-container" id="list-container-<%=i%>">
      <span> <%= todoList[i] %> </span>
      <div style="display: flex; gap: 15px">
        <div class="edit-btn" id="edit-btn-<%=i%>" onclick="editTask('<%=i%>')" title="edit">
          <img src="/images/edit.png" alt="edit" width="20px" height="20px" />
        </div>
        <div
          class="delete-btn"
          id="delete-btn-<%=i%>"
          onclick="deleteTask('<%=i%>', '<%= todoList %>')"
          title="Delete"
        >
          <img
            src="/images/delete.png"
            alt="delete"
            width="20px"
            height="20px"
          />
        </div>
      </div>
    </div>
    <% } %>
    <form action="/" method="post" class="form-container">
      <input
        class="input-field"
        type="text"
        name="task"
        placeholder="Please enter task"
      />
      <% if(locals.error){ %>
      <div class="error-message" style="color: red; margin-top: 5px">
        <%= error %>
      </div>
      <% } %>
      <div class="btn-container">
        <button class="submit-btn" type="submit">+</button>
      </div>
    </form>
  </div>
</div>
